@using Microsoft.AspNetCore.Identity
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@model PersonalBlog.Models.Blog
@inject PersonalBlog.Services.IImageService _imageService
@inject SignInManager<BlogUser> SignInManager
@inject PersonalBlog.Services.ISlugService _slugService

@{ ViewData["Title"] = @Html.DisplayFor(model => model.Name); }

<!-- **************** MAIN CONTENT START **************** -->
<!-- =======================
Inner intro START -->
<section class="pt-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card bg-dark-overlay-4 overflow-hidden card-bg-scale h-300 text-center" style="background-image:url(@_imageService.DecodeImage(Model.ImageData, Model.ContentType)); background-position: center left; background-size: cover;">
                    <!-- Card Image overlay -->
                    <div class="card-img-overlay d-flex align-items-center p-3 p-sm-4">
                        <div class="w-100 my-auto">
                            <div class="mb-3"></div>
                            <h1 class="text-white h2">
                                <span class="badge bg-success mb-2">
                                    <i class="fas fa-circle me-2 small fw-bold"></i>@Html.DisplayFor(model => model.Name)
                                </span>
                            </h1>
                            <div class="text-center position-relative">

                                <span class="badge bg-info fs-6">
                                    @{int i = 0;
                                        string txtPost = "";}
                                    @foreach (var post in ViewBag.Posts)
                                    {
                                        i++;
                                    }
                                    @i @{if (i == 1) { txtPost = "post"; } else { txtPost = "posts"; } } @txtPost
                                </span>

                                @if (User.IsInRole("Admin"))
                                {
                                    <!--Post Delete/Edit Buttons-->
                                    <div class="mt-4">
                                        <form id="deleteForm" asp-action="DeleteConfirmed">
                                            <a class="btn btn-primary ms-1 me-1" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                                            <input type="hidden" asp-for="Id" />
                                            <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirmDelete()" />
                                        </form>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =======================
Inner intro END -->
<!-- =======================
Main content START -->
<section class="position-relative pt-0">
    <div class="container" data-sticky-container>
        <div class="row">
            <!-- Main Post START -->
            <div class="col-lg-9">
                <div class="row gy-4">
                    <!--Create Blog btn if Admin only-->
                    @if (User.IsInRole("Admin"))
                    {
                        <div>
                            <a class="btn btn-success" asp-controller="Posts" asp-action="Create">Create</a>
                        </div>

                    }

                    @foreach (var post in ViewBag.Posts)
                    {<!-- Card item START -->
                        <div class="col-sm-6">
                            <div class="card">
                                <!-- Card img -->
                                <div class="position-relative">
                                    <img class="card-img" src="@_imageService.DecodeImage(post.ImageData, post.ContentType)" style="height: 300px; object-fit: cover;" alt="Card image">
                                    <div class="card-img-overlay d-flex align-items-start flex-column p-3">
                                        <!-- Card overlay Top -->
                                        <div class="w-100 mb-auto d-flex justify-content-end">
                                            <!--<div class="text-end ms-auto">-->
                                            <!-- Card format icon -->
                                            <!--<div class="icon-md bg-white-soft bg-blur text-white rounded-circle" title="This post has video"><i class="fas fa-video"></i></div>
                            </div>-->
                                        </div>
                                        <!-- Card overlay bottom -->
                                        <div class="w-100 mt-auto">
                                            <!-- Card category -->
                                            @*<a href="#" class="badge bg-success mb-2"><i class="fas fa-circle me-2 small fw-bold"></i>@Html.DisplayFor(model => model.Name)</a>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body px-0 pt-3">
                                    <h4 class="card-title"><a asp-controller="Posts" asp-action="Details" asp-route-blog="@post.Blog.Slug" asp-route-slug="@post.Slug" class="btn-link text-reset fw-bold">@post.Title</a></h4>
                                    <p class="card-text">@post.Abstract</p>
                                    <!-- Card info -->
                                    <ul class="nav nav-divider align-items-center d-none d-sm-inline-block">
                                        <li class="nav-item">
                                            <div class="nav-link">
                                                <div class="d-flex align-items-center position-relative">
                                                    <div class="avatar avatar-xs">
                                                        <img class="avatar-img rounded-circle" src="@_imageService.DecodeImage(Model.BlogUser.ImageData, Model.BlogUser.ContentType)" alt="avatar">
                                                    </div>
                                                    <span class="ms-3">by <a asp-area="" asp-controller="Home" asp-action="About" class="stretched-link text-reset btn-link">Brittany Jonah</a></span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="nav-item">@post.Created.ToString("MMM dd, yyyy")</li>
                                    </ul>
                                </div>
                            </div>

                            <!--edit/delete buttons-->
                            @if (User.IsInRole("Admin"))
                            {
                                <div>
                                    <a class="btn btn-primary btn-xs" asp-controller="Posts" asp-action="Edit" asp-route-id="@post.Id">Edit</a>
                                    <a class="btn btn-danger btn-xs" asp-controller="Posts" asp-action="Delete" asp-route-id="@post.Id">Delete</a>
                                </div>
                            }
                        </div> <!-- Card item END -->
                    }<!--For each post loop END-->
                    <!-- Pagination START -->
                    @if (ViewBag.Posts.Count > 1)
                    {
                        <div class="col-12 d-flex justify-content-center mt-5">
                            @Html.PagedListPager((IPagedList)ViewData["Posts"], page => Url.Action(_slugService.urlFriendly(Model.Name), "Categories", new { page = page }),
                            new PagedListRenderOptions
                            {
                                LiElementClasses = new string[] { "page-item" },
                                PageClasses = new string[] { "page-link" }
                            })
                        </div>
                    }
                    <!-- Pagination END -->

                </div>
        </div>
            <!-- Main Post END -->
            <!-- Sidebar START -->
            <div class="col-lg-3 mt-5 mt-lg-0">
                <div data-sticky data-margin-top="80" data-sticky-for="767">
                    <!-- Categories -->
                    <div class="row g-2">
                        <h5>Other Categories</h5>
                        @foreach (var blog in ViewBag.Blogs)
                        {
                            @if (blog.Slug != Model.Slug)
                            {
                                <div class="d-flex justify-content-between align-items-center bg-primary-soft rounded p-2 position-relative">
                                    <h6 class="m-0 text-primary">@blog.Name</h6>
                                    <a asp-controller="Blogs" asp-action="Details" asp-route-slug="@blog.Slug" class="badge bg-primary text-light stretched-link">@blog.Posts.Count</a>
                                </div>
                            }
                        }
                        <!-- View All Category button -->
                        <div class="text-center mt-3">
                            <a asp-area="" asp-controller="Blogs" asp-action="Index" class="fw-bold text-body text-primary-hover"><u>View all categories</u></a>
                        </div>
                    </div>

                    <!-- ADV widget START -->
                    <!--<div class="col-12 col-sm-6 col-lg-12 my-4">
                        <a href="#" class="d-block card-img-flash">
                            <img src="/images/adv.png" alt="">
                        </a>
                        <div class="smaller text-end mt-2">ads via <a href="#" class="text-muted"><u>Bootstrap</u></a></div>
                    </div>-->
                    <!-- ADV widget END -->
                </div>
            </div>
            <!-- Sidebar END -->
        </div> <!-- Row end -->
    </div>
</section>
<!-- =======================
Main content END -->

<script>
    function confirmDelete() {

        Swal.fire({
            title: 'Delete "@Model.Name"?',
            text: "This will permanently delete the Category AND any associated posts.",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire(
                    'Success!',
                    '"@Model.Name" has been deleted.',
                    'success',
                ).then(() => {
                    $('#deleteForm').submit();
                    return true;
                })
            }
        })
        return false;
    }
</script>